/*******Powered by 韵贵科技***********/
/*******author iscod******************/
/*******blog www.iscod.com************/
/*下面这段css所有页面引用的*/
 html
        {
            margin: 0;
            padding: 0;
            background: url(../images/bg.png);
            }
            body
            {
                background: url(../images/bg.png);
                margin: 0 60px;
                padding: 0;
                width: 960px;
                color: #2f2f2f;
                font-family: arial,'宋体';
            }
            #content 
            {
                border-top: 1px solid #e0e0e0;
            }
            #login_c {
                border: 1px solid #E7E7E7;
                margin: 50px 100px;
                padding: 20px;
                width: 300px;
                background: #F0F0F0;
            }

            h1
            {
                font-size: 1.2em;
                padding-top: 10px;
                color: #690303;
            }
            h2{
                font-size: 1em;
                color: #690505;
            }
            li{
                list-style: none;
            }
           
            #footer 
            {
                clear: both;
            }
             #footer .footer_title {
                font-size: 12px;
                padding: 20px 0px 10px 590px;
            }
            div,a,ul,li,p,img{
            	margin: 0;
            	padding: 0;
            }
            a {
            	text-decoration: none;
            	color: #212121;
            }
            a:hover {
            	color: #900b09;
            }
            #footer li{
                float: right;
                margin-right: 10px;
            }
            .form_input{
                font-size: 12px;
            }
/*以上是系统所有页面都使用的css*/
/*admin.php页面使用的css*/
    #main_meun li {
        font-size: 12px;
        width: 200px;
        padding: 15px 0px 10px 20px;
        margin: 0;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #ccc;
        display: block;
        cursor: pointer;
        }
    #main_meun li:hover{
        background:#AFAFAF;
    }
    #main_meun li a{
        margin: 0 0 0 0;
        padding: 0;
    }
    #main_meun li img {
        margin: 0 5px 0 0;
        padding: 0;
    }
                #page_left
            {
                background: url(../images/bg.png);
                float: left;
            }
            .post_content{
                line-height: 160%;
                letter-spacing: 2px;
                text-indent: 30px;
                margin: 10px;
                width: 70%;
            }
     #page_content {
            float: right;
            margin: 0px 37px 0 0px;
            padding: 0;
           
            }
/*这是admin中welocme页面的css*/
	#navight li{
		float: left;
		margin: 5px;
		position:relative;
	}
	
	#navight li.nav-g a{
		display: block;
		width: 100px;
		height: 25px;
	}
    .button {
        width: 60px;
        height: 20px;
        margin: 0;
        background: #dcdcdc;
        color: #1c1c1c;
        padding: 0;
        border: 0;
        cursor: pointer;
    }
    .button:hover{
        background: #690505;
        color: #b2b2b2;
    }
    .select {
        width: 150px;
    }

