/*******Powered by 韵贵科技***********/
/*******author iscod******************/
/*******blog www.iscod.com************/
html,body{
	margin: 0;
	padding: 0;
}
body{
	width: 1100px;
	margin: 0 auto;
	font-family: arial,'宋体';
}
div,h1,h2,h3,h4,h5,h6,ul,ol,li,p,a,img,form,input {
	margin: 0;
	padding: 0;
}
a {
    text-decoration: none;
    color: #690303;
}
body {
	background: url(../images/bg.png);
	border: 2px dashed #CACACA;
	width: 695px;
}
#header,#content,#footer {
	margin: 10px;
}
#header h1{
	font-size: 18px;
	color: #690303;
}
#content {
	/*height: 450px;*/
	width: 675px;
	border: 1px solid #dfdfdf;
}
#h_cont {
	background: url(../images/h_bg.png);
	height: 35px;
}
#new_batch {
	margin: -20px 0 0 360px;
	font-size: 12px;
}
#query_news {
	margin: 10px;
	font-size: 13px
}
#pag_content {
	background: #efefef;
}
#h_cont h3{
	font-size: 14px;
	padding: 10px 0 0 30px;
}
#new_delete_a{
	margin: 0;
}
#new_delete_a a {
	background: url(../images/delete.png) no-repeat;
}
.new_delete {
	margin: -30px 0 0 620px;
}
.new_delete a {
	float: right;
	margin: -17px 38px 0 0;
	height: 17px;
	background: url(../images/delete_a.png) no-repeat;
	width: 40px;
	display: block;
	overflow: hidden;
	line-height: 10em;
}
.button {
	width: 60px;
	height: 20px;
	margin: 0;
	background: #dcdcdc;
	color: #1c1c1c;
	padding: 0;
	border: 0;
	cursor: pointer;
}
.button:hover {
	background: #690505;
	color: #b2b2b2
}
/********today.php and all.php***********/
li {
	list-style: none;
}
li.user_news {
    font-size: 12px;
    padding: 10px 20px;
    border: 1px dotted #A7A7A7;
    height: 55px;
}
li.user_news:hover {
    background: rgb(189, 189, 189);
}
li.user_news a {
    text-decoration: none;
    color: #000;
}
ul li.user_news a:hover {
    color: #8f2323;
}

li.back_p input{
    width: 30px;
    height: 15px;
}
li#back_p_i {
	padding: 0;
	width: 91px;
	background: transparent url(../images/p_bg.png) -2px 0 no-repeat;
}
#back_p_i form{
	margin: -3px 0 4px 4px;
}
#page_set {
	height: 35px;
	font-weight: 700;
	
}
#pag_content ul #page_set li ul li#print_p {
	color: #B6B6B6;
}

#pag_content ul #page_set li ul li{
	float: left;
	font-size: 12px;
	color: #690303;
	margin: 0;
    padding: 10px;
    height: 35px;
}
li.back_p {
	width: 33px;
	overflow: hidden;
	background: transparent url(../images/p_bg.png) -111px 0 no-repeat;

}
li.back_p:hover{
   background: transparent url(../images/ph_bg.png) -111px 0 no-repeat;
}
li.back_p_3 {
	width: 47px;
	background: transparent url(../images/p_bg.png) -163px 0 no-repeat;
	overflow: hidden;
}
li.back_p_3:hover {
	background: url(../images/ph_bg.png) -162px 0 no-repeat;
}
.sign_bg,.n_sign_bg {
	margin: -40px 0 0 580px;
	height: 20px;
	width: 20px;
	overflow: hidden;
}
.sign_bg {
	background: url(../images/sign_bg.png);
}
.n_sign_bg {
	background: url(../images/n_sign_bg.png);
}
.sign_bg a,.n_sign_bg a {
	display: block;
	height: 20px;
	width: 20px;
	line-height: 10em;
}
#pag_content ul li ul li {
	float: left;
	margin: 10px 15px 0 0;
	line-height: 150%;
}
#user_news_o {
	height: 31px;
	font-weight: 600;
}
#user_news_a input {
	margin: 2px 0 0 0;
}
#user_news_b {
	padding: 0;
}
#user_news_c {
	padding: 0 0 0 88px
}
#user_news_d {
	padding: 0 0 0 45px;
}
#user_news_e {
	padding: 0 0 0 80px;
}
#user_news_f {
	padding: 0 0 0 100px
}

/*****manage.php ******/
.page_c {
	padding: 20px;
}
.page_c form {
	margin: 10px;
	padding: 10px;
	border: 1px solid #E4E4E4;
}
.page_c p {
	font-weight: 600;
	font-size: 12px;
	color: #884242;
	margin: 10px 0;

}
input#new_password_a{
	margin: 0 0 0 13px;
}
#add_staff {
	float: left;
	width: 45%;
}
/***********/
/*****user_news.php*******/
#sign_number {
	margin: -16px 0 0 460px;
	font-size: 12px;
	font-weight: 600;
}
/*************************/