<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="<?php echo $system_url?>" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>YS_Order Manager System</title>
<link rel="stylesheet" href="templates/css/login.css" type="text/css" media="screen" />
</head>

<body>
<div id="hld">
	<div class="wrapper">
		<div class="block small center login">
			<div class="block_head">
				<div class="bheadl"></div>
				<div class="bheadr"></div>
				<h2>灯博会预登记系统 -- Login</h2>
			</div>
			<div class="block_content">
				<?php if($messgae){ ?>
				<div class="message errormsg">
					<p><?php echo $messgae ?></p>
					<span title="Dismiss" class="close"></span>
				</div>
				<?php }?>
				<form action="login.php" method="post">
					<p><label>Account:</label><br><input type="text" class="text" name="username"></p>
					<p><label>PassWord:</label><br><input type="password" class="text" name="password"></p>
					<p><input type="submit" value="Login" class="submit"></p>
					<input type="hidden" name="act" value="login" />
				</form>
			</div>
			<div class="bendl"></div>
			<div class="bendr"></div>
		</div>
	</div>
</div>
</body>
</html>
