<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="<?php //echo $system_url?>" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<!-- Template stylesheet -->
<link href="templates/css/screen.css" rel="stylesheet" type="text/css" media="all">
<link href="templates/css/datepicker.css" rel="stylesheet" type="text/css" media="all">
<link href="templates/css/tipsy.css" rel="stylesheet" type="text/css" media="all">
<link href="templates/js/visualize/visualize.css" rel="stylesheet" type="text/css" media="all">
<link href="templates/js/jwysiwyg/jquery.wysiwyg.css" rel="stylesheet" type="text/css" media="all">
<link href="templates/js/fancybox/jquery.fancybox-1.3.0.css" rel="stylesheet" type="text/css" media="all">
<!--[if IE]>
	<link href="templates/css/ie.css" rel="stylesheet" type="text/css" media="all">
	<script type="text/javascript" src="templates/js/excanvas.js"></script>
<![endif]-->
<!-- Jquery and plugins -->
<script type="text/javascript" src="templates/js/jquery.js"></script>
<script type="text/javascript" src="templates/js/jquery-ui.js"></script>
<script type="text/javascript" src="templates/js/jquery.img.preload.js"></script>
<script type="text/javascript" src="templates/js/hint.js"></script>
<script type="text/javascript" src="templates/js/visualize/jquery.visualize.js"></script>
<script type="text/javascript" src="templates/js/jwysiwyg/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="templates/js/fancybox/jquery.fancybox-1.3.0.js"></script>
<script type="text/javascript" src="templates/js/jquery.tipsy.js"></script>
<script type="text/javascript" src="templates/js/custom_blue.js"></script>
<script type="text/javascript" src="templates/js/dialog.js"></script>

<style type="text/css">
#floatBoxBg{width:100%;height:100%;background:#000;filter:alpha(opacity=50);opacity:0.5;position:absolute;top:0;left:0;}
.floatBox{border:#666 5px solid;width:500px;position:absolute;top:0;left:40%;}
.floatBox .title{height:23px;padding:7px 10px 0;background:#333;color:#fff;}
.floatBox .title h4{float:left;padding:0;margin:0;font-size:14px;line-height:16px;}
.floatBox .title span{float:right;cursor:pointer;}
.floatBox .content{padding:20px 15px;background:#fff;}
</style>
</head>

<body style="margin:0px; padding:0px; width:99%;">
<div class="onecolumn">
	<div class="header"><span>ID:<?php echo $user_news['id']; ?></span> </div>
	<br class="clear"/>
	<div class="content">
		<h3>人员详情</h3><hr />
		<table width="100%">
		<tr height="25">
			<th scope="row" align="right" width="250">ID号：</th>
			<td><strong><?php echo $user_news['id']; ?></strong></td>
		</tr>
		<tr height="25">
			<th scope="row" align="right">称呼：</th>
			<td>
				<?php echo $user_news['user_last_name'].$user_news['user_first_name'];
				switch ($user_news['user_tltle']) {
						case 0:
						echo "";
						case 3:
						echo "-Mr";
						break;
						case 4:
						echo "-Miss";
						break;
						case 5;
						echo "-Mrs";
					}
					
				 ?>
			</td>
		
		</tr>
		<tr height="25">
			<th scope="row" align="right">职位：</th>
			<td><?php echo $user_news['user_job'];?></td>
		</tr>
		<tr height="25">
			<th scope="row" align="right">公司：</th>
			<td><?php echo $user_news['user_company']?></td>
		</tr>
		<tr height="25">
			<th scope="row" align="right">国家/地区：</th>
			<td><?php echo $user_news['user_country'];?></td>
		</tr>
		<tr height="25">
			<th scope="row" align="right">地址：</th>
			<td><?php echo $user_news['user_province'].$user_news['user_city'].$user_news['user_address']; ?></td>
		</tr>
		<tr height="25">
			<th scope="row" align="right">邮编：</th>
			<td><?php echo $user_news['user_PostalCode']?></td>
		</tr>
		<tr height="25">
			<th scope="row" align="right">手机：</th>
			<td><?php 
					
						echo $user_news['user_mobile']; 
				?></td>
		</tr>
		<tr height="25">
			<th scope="row" align="right">电话：</th>
			<td><?php 
					
					if($user_news['user_tel_area']){
						echo $user_news['user_tel_area'].'-';
					}
					echo $user_news['user_tel']?>
				</td>
		</tr>
		<tr height="25">
			<th scope="row" align="right">传真：</th>
			<td><?php 
				
				if($user_news['user_fax_area']){
					echo $user_news['user_fax_area'].'-';
				}
				echo $user_news['user_fax']?>
			</td>
		</tr>
		<tr height="25">
			<th scope="row" align="right">邮箱：</th>
			<td><?php echo $user_news['user_email']; ?></td>
		</tr>
		<!--
		<tr height="25">
			<th scope="row" align="right">QQ号：</th>
			<td><?php echo $user_news['user_qq']; ?></td>
		</tr>
	-->
		<tr height="25">
			<th scope="row" align="right">公司网址：</th>
			<td>
				<a href="http://<?php echo $user_news['user_websit']; ?>" title="<?php echo $user_news['user_company']?>">
					<?php echo $user_news['user_websit']?>
				</a>
			</td>
		</tr>
		<tr height="25">
			<th scope="row" align="right">参展目的：</th>
			<td>
				<?php echo $user_news['user_objective']?>
			</td>
		</tr>

		<!--
		<?php include('includes/switch.php');?>
		<tr height="25">
			<th scope="row" align="right">业务性质：</th>
			<td><?php 
					echo swith_1($user_news['user_profession']);

			?></td>
		</tr>
		<tr height="25">
			<th scope="row" align="right">参展目的：</th>
			<td>
				<?php 
					echo swith_2($user_news['user_objective']);
				?>
			</td>
		</tr>
		<tr height="25">
			<th scope="row" align="right">感兴趣的产品：</th>
			<td>
				<?php 
					echo swith_3($user_news['user_interest']);
				?>
			</td>
		</tr>
		<tr height="25">
			<th scope="row" align="right">哪种途径得知展会信息：</th>
			<td><?php 
					echo swith_4($user_news['user_road']); 
				?>
			</td>
		</tr>
	-->
		<tr height="25">
			<th scope="row" align="right">标记状态：</th>
			<td><?php		
				switch ($user_news['user_sign']){
					case 0:
						echo '未标记';
						break;
					default:
						echo '已标记';
				}
			?><?php switch($user_news['user_source']){
									case 0:
										echo "﹣";
										break;
									case 1:
										echo "+";
										break; 
								}?>
		</td>
		</tr>
		<tr>
			<th scope="row" align="right">二维码：</th><td><img src="includes/code.php?code_content=<?php echo $user_news['id'];?>" alt="二维码"></td>
		</tr>
	</table>
	<h3>更改标记状态</h3><hr />
	<form action="" method="post">
	<table width="100%">
		<tr height="25">
			<th scope="row" align="right" width="250">状态：</th>
			<td width="150">
				<select name="register_status">
				<option value="1">标记</option>
				<option value="0">未标记</option>
				</select>
			</td>
			<td><input type="submit" value="确认" /></td>
			<td style="padding: 0 200px 0 0;">
				<a href="manage.php?act=manage_user_edit&id=<?php echo $user_news['id']?>">
					<img src="templates/images/icon_edit.png" alt="Edit" />
				</a>
			</td>
		</tr>
		<input type="hidden" name="id" value="<?php echo $user_news['id']; ?>" />
		<input type="hidden" name="act" value="register_status" />
	</table>
	</form>
	
	
	
</div>
</body>
</html>
